/**
 * variables/color.scss
 * @author kaminorse
 */

@use "sass:color";
@use "sass:map";

//#region define color settings

// NOTE: set your base color

$color-hue-gray: 274 !default;

$color-hue-red: 0 !default;
$color-hue-orange: 54 !default;
$color-hue-yellow: 94 !default;
$color-hue-green: 134 !default;
$color-hue-cyan: 214 !default;
$color-hue-blue: 274 !default;
$color-hue-violet: 294 !default;
$color-hue-magenta: 324 !default;

$color-chroma-gray: 0.04 !default;
$color-chroma-colorful: 0.12 !default;

$color-lightness-500: 70% !default;
$color-lightness-offset: 2.75%;

$color-lightness-white: 95% !default;
$color-lightness-black: 35% !default;

$color-white: oklch(
  $color-lightness-white $color-chroma-gray $color-hue-gray
) !default;
$color-black: oklch(
  $color-lightness-black $color-chroma-gray $color-hue-gray
) !default;

//#endregion define color settings

//#region define colors array

$colors: (
  "gray",
  "red",
  "orange",
  "yellow",
  "green",
  "cyan",
  "blue",
  "violet",
  "magenta"
);

$colorsWithProperties: (
  (
    "name": "gray",
    "hue": $color-hue-gray,
    "chroma": $color-chroma-gray,
  ),
  (
    "name": "red",
    "hue": $color-hue-red,
    "chroma": $color-chroma-colorful,
  ),
  (
    "name": "orange",
    "hue": $color-hue-orange,
    "chroma": $color-chroma-colorful,
  ),
  (
    "name": "yellow",
    "hue": $color-hue-yellow,
    "chroma": $color-chroma-colorful,
  ),
  (
    "name": "green",
    "hue": $color-hue-green,
    "chroma": $color-chroma-colorful,
  ),
  (
    "name": "cyan",
    "hue": $color-hue-cyan,
    "chroma": $color-chroma-colorful,
  ),
  (
    "name": "blue",
    "hue": $color-hue-blue,
    "chroma": $color-chroma-colorful,
  ),
  (
    "name": "violet",
    "hue": $color-hue-violet,
    "chroma": $color-chroma-colorful,
  ),
  (
    "name": "magenta",
    "hue": $color-hue-magenta,
    "chroma": $color-chroma-colorful,
  )
);

//#endregion define colors array
