/**
 * utilities/border.scss
 * @author kaminorse
 */

.has-border-solid {
  border-style: solid;
  border-width: var(--border-width-medium);
}

.has-border-dashed {
  border-style: dashed;
  border-width: var(--border-width-medium);
}

.has-border-dotted {
  border-style: dotted;
  border-width: var(--border-width-medium);
}

.is-border-width-xthin,
.border-width-xthin {
  border-width: var(--border-width-xthin);
}

.is-border-width-thin,
.border-width-thin {
  border-width: var(--border-width-thin);
}

.is-border-width-medium,
.border-width-medium {
  border-width: var(--border-width-medium);
}

.is-border-width-thick,
.border-width-thick {
  border-width: var(--border-width-thick);
}

.is-border-width-xthick,
.border-width-xthick {
  border-width: var(--border-width-xthick);
}

.is-border-radius-bit-rounded,
.border-radius-bit-rounded {
  border-radius: 0.5rem;
}

.is-border-radius-rounded,
.border-radius-rounded {
  border-radius: 1rem;
}

.is-border-radius-quite-rounded,
.border-radius-quite-rounded {
  border-radius: 2rem;
}

.is-border-radius-circle,
.border-radius-circle {
  border-radius: 50%;
}

.is-border-sepalated {
  border-collapse: separate;
}

.is-border-collapted {
  border-collapse: collapse;
}