/**
 * utilities/color.scss
 * @author kaminorse
 */

@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

@mixin colorUtilities($colorScheme: "") {
  $derived: "";
  @if $colorScheme != "" {
    $derived: "-#{$colorScheme}"
  }

  @each $color in variables.$colors {
    @for $p from 1 through 9 {
      //#region forecolor
      .is-forecolor#{$derived}-#{$color}-#{$p}00,
      .forecolor#{$derived}-#{$color}-#{$p}00 {
        color: var(--color-#{$color}-#{$p}00) !important;
      }
      .is-forecolor#{$derived}-#{$color}-#{$p}50,
      .forecolor#{$derived}-#{$color}-#{$p}50 {
        color: var(--color-#{$color}-#{$p}50) !important;
      }
      .is-forecolor#{$derived}-hover-#{$color}-#{$p}00,
      .forecolor#{$derived}-hover-#{$color}-#{$p}00 {
        &:hover {
          color: var(--color-#{$color}-#{$p}00) !important;
        }
      }
      .is-forecolor#{$derived}-hover-#{$color}-#{$p}50,
      .forecolor#{$derived}-hover-#{$color}-#{$p}50 {
        &:hover {
          color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
      .is-forecolor#{$derived}-#{$color}-focus-#{$p}00,
      .forecolor#{$derived}-#{$color}-focus-#{$p}00 {
        &:focus {
          color: var(--color-#{$color}-#{$p}00) !important;
        }
      }
      .is-forecolor#{$derived}-#{$color}-focus-#{$p}50,
      .forecolor#{$derived}-#{$color}-focus-#{$p}50 {
        &:focus {
          color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
      .is-forecolor#{$derived}-#{$color}-active-#{$p}00,
      .forecolor#{$derived}-#{$color}-active-#{$p}00 {
        &:active {
          color: var(--color-#{$color}-#{$p}00) !important;
        }
      }
      .is-forecolor#{$derived}-#{$color}-active-#{$p}50,
      .forecolor#{$derived}-#{$color}-active-#{$p}50 {
        &:active {
          color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
      .is-forecolor#{$derived}-#{$color}-disabled-#{$p}00,
      .forecolor#{$derived}-#{$color}-disabled-#{$p}00 {
        &[disabled],
        fieldset[disabled] {
          color: var(--color-#{$color}-#{$p}00) !important;
        }
      }
      .is-forecolor#{$derived}-#{$color}-disabled-#{$p}50,
      .forecolor#{$derived}-#{$color}-disabled-#{$p}50 {
        &[disabled],
        fieldset[disabled] {
          color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
      //#endregion forecolor
  
      //#region backcolor
      .is-backcolor#{$derived}-#{$color}-#{$p}00,
      .backcolor#{$derived}-#{$color}-#{$p}00 {
        background-color: var(--color-#{$color}-#{$p}00) !important;
      }
      .is-backcolor#{$derived}-#{$color}-#{$p}50,
      .backcolor#{$derived}-#{$color}-#{$p}50 {
        background-color: var(--color-#{$color}-#{$p}50) !important;
      }
      .is-backcolor#{$derived}-hover-#{$color}-#{$p}00,
      .backcolor#{$derived}-hover-#{$color}-#{$p}00 {
        &:hover {
          background-color: var(--color-#{$color}-#{$p}00) !important;
        }
      }
      .is-backcolor#{$derived}-hover-#{$color}-#{$p}50,
      .backcolor#{$derived}-hover-#{$color}-#{$p}50 {
        &:hover {
          background-color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
      .is-backcolor#{$derived}-#{$color}-focus-#{$p}00,
      .backcolor#{$derived}-#{$color}-focus-#{$p}00 {
        &:focus {
          background-color: var(--color-#{$color}-#{$p}00) !important;
        }
      }
      .is-backcolor#{$derived}-#{$color}-focus-#{$p}50,
      .backcolor#{$derived}-#{$color}-focus-#{$p}50 {
        &:focus {
          background-color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
      .is-backcolor#{$derived}-#{$color}-active-#{$p}00,
      .backcolor#{$derived}-#{$color}-active-#{$p}00 {
        &:active {
          background-color: var(--color-#{$color}-#{$p}00) !important;
        }
      }
      .is-backcolor#{$derived}-#{$color}-active-#{$p}50,
      .backcolor#{$derived}-#{$color}-active-#{$p}50 {
        &:active {
          background-color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
      .is-backcolor#{$derived}-#{$color}-disabled-#{$p}00,
      .backcolor#{$derived}-#{$color}-disabled-#{$p}00 {
        &[disabled],
        fieldset[disabled] {
          background-color: var(--color-#{$color}-#{$p}00) !important;
        }
      }
      .is-backcolor#{$derived}-#{$color}-disabled-#{$p}50,
      .backcolor#{$derived}-#{$color}-disabled-#{$p}50 {
        &[disabled],
        fieldset[disabled] {
          background-color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
      //#endregion backcolor
  
      //#region bordercolor
      .is-bordercolor#{$derived}-#{$color}-#{$p}00,
      .bordercolor#{$derived}-#{$color}-#{$p}00 {
        border-color: var(--color-#{$color}-#{$p}00) !important;
      }
      .is-bordercolor#{$derived}-#{$color}-#{$p}50,
      .bordercolor#{$derived}-#{$color}-#{$p}50 {
        border-color: var(--color-#{$color}-#{$p}50) !important;
      }
      .is-bordercolor#{$derived}-hover-#{$color}-#{$p}00,
      .bordercolor#{$derived}-hover-#{$color}-#{$p}00 {
        &:hover {
          border-color: var(--color-#{$color}-#{$p}00) !important;
        }
      }
      .is-bordercolor#{$derived}-hover-#{$color}-#{$p}50,
      .bordercolor#{$derived}-hover-#{$color}-#{$p}50 {
        &:hover {
          border-color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
      .is-bordercolor#{$derived}-#{$color}-focus-#{$p}00,
      .bordercolor#{$derived}-#{$color}-focus-#{$p}00 {
        &:focus {
          border-color: var(--color-#{$color}-#{$p}00) !important;
        }
      }
      .is-bordercolor#{$derived}-#{$color}-focus-#{$p}50,
      .bordercolor#{$derived}-#{$color}-focus-#{$p}50 {
        &:focus {
          border-color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
      .is-bordercolor#{$derived}-#{$color}-active-#{$p}00,
      .bordercolor#{$derived}-#{$color}-active-#{$p}00 {
        &:active {
          border-color: var(--color-#{$color}-#{$p}00) !important;
        }
      }
      .is-bordercolor#{$derived}-#{$color}-active-#{$p}50,
      .bordercolor#{$derived}-#{$color}-active-#{$p}50 {
        &:active {
          border-color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
      .is-bordercolor#{$derived}-#{$color}-disabled-#{$p}00,
      .bordercolor#{$derived}-#{$color}-disabled-#{$p}00 {
        &[disabled],
        fieldset[disabled] {
          border-color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
      .is-bordercolor#{$derived}-#{$color}-disabled-#{$p}50,
      .bordercolor#{$derived}-#{$color}-disabled-#{$p}50 {
        &[disabled],
        fieldset[disabled] {
          border-color: var(--color-#{$color}-#{$p}50) !important;
        }
      }
  
      @each $borderSide in variables.$borderSides {
        .is-bordercolor#{$derived}-#{$borderSide}-#{$color}-#{$p}00,
        .bordercolor#{$derived}-#{$borderSide}-#{$color}-#{$p}00 {
          border-#{$borderSide}-color: var(--color-#{$color}-#{$p}00) !important;
        }
        .is-bordercolor#{$derived}-#{$color}-#{$p}50,
        .bordercolor#{$derived}-#{$color}-#{$p}50 {
          border-#{$borderSide}-color: var(--color-#{$color}-#{$p}50) !important;
        }
        .is-bordercolor#{$derived}-#{$borderSide}-hover-#{$color}-#{$p}00,
        .bordercolor#{$derived}-#{$borderSide}-hover-#{$color}-#{$p}00 {
          &:hover {
            border-#{$borderSide}-color: var(
              --color-#{$color}-#{$p}00
            ) !important;
          }
        }
        .is-bordercolor#{$derived}-#{$borderSide}-hover-#{$color}-#{$p}50,
        .bordercolor#{$derived}-#{$borderSide}-hover-#{$color}-#{$p}50 {
          &:hover {
            border-#{$borderSide}-color: var(
              --color-#{$color}-#{$p}50
            ) !important;
          }
        }
        .is-bordercolor#{$derived}-#{$borderSide}-#{$color}-focus-#{$p}00,
        .bordercolor#{$derived}-#{$borderSide}-#{$color}-focus-#{$p}00 {
          &:focus {
            border-#{$borderSide}-color: var(
              --color-#{$color}-#{$p}00
            ) !important;
          }
        }
        .is-bordercolor#{$derived}-#{$borderSide}-#{$color}-focus-#{$p}50,
        .bordercolor#{$derived}-#{$borderSide}-#{$color}-focus-#{$p}50 {
          &:focus {
            border-color: var(--color-#{$color}-#{$p}50) !important;
          }
        }
        .is-bordercolor#{$derived}-#{$borderSide}-#{$color}-active-#{$p}00,
        .bordercolor#{$derived}-#{$borderSide}-#{$color}-active-#{$p}00 {
          &:active {
            border-color: var(--color-#{$color}-#{$p}00) !important;
          }
        }
        .is-bordercolor#{$derived}-#{$borderSide}-#{$color}-active-#{$p}50,
        .bordercolor#{$derived}-#{$borderSide}-#{$color}-active-#{$p}50 {
          &:active {
            border-#{$borderSide}-color: var(
              --color-#{$color}-#{$p}50
            ) !important;
          }
        }
        .is-bordercolor#{$derived}-#{$borderSide}-#{$color}-disabled-#{$p}00,
        .bordercolor#{$derived}-#{$borderSide}-#{$color}-disabled-#{$p}00 {
          &[disabled],
          fieldset[disabled] {
            border-#{$borderSide}-color: var(
              --color-#{$color}-#{$p}50
            ) !important;
          }
        }
        .is-bordercolor#{$derived}-#{$borderSide}-#{$color}-disabled-#{$p}50,
        .bordercolor#{$derived}-#{$borderSide}-#{$color}-disabled-#{$p}50 {
          &[disabled],
          fieldset[disabled] {
            border-#{$borderSide}-color: var(
              --color-#{$color}-#{$p}50
            ) !important;
          }
        }
      }
      //#endregion bordercolor
  
      //#region highlighter
      .is-highlighter#{$derived}-#{$color}-#{$p}00,
      .highlighter#{$derived}-#{$color}-#{$p}00 {
        background: linear-gradient(
          transparent 66.66%,
          var(--color-#{$color}-#{$p}00) 33.33%
        ) !important;
      }
      .is-highlighter#{$derived}-#{$color}-#{$p}50,
      .highlighter#{$derived}-#{$color}-#{$p}50 {
        background: linear-gradient(
          transparent 66.66%,
          var(--color-#{$color}-#{$p}50) 33.33%
        ) !important;
      }
      .is-highlighter#{$derived}-hover-#{$color}-#{$p}00,
      .highlighter#{$derived}-hover-#{$color}-#{$p}00 {
        &:hover {
          background: linear-gradient(
            transparent 66.66%,
            var(--color-#{$color}-#{$p}00) 33.33%
          ) !important;
        }
      }
      .is-highlighter#{$derived}-hover-#{$color}-#{$p}50,
      .highlighter#{$derived}-hover-#{$color}-#{$p}50 {
        &:hover {
          background: linear-gradient(
            transparent 66.66%,
            var(--color-#{$color}-#{$p}50) 33.33%
          ) !important;
        }
      }
      .is-highlighter#{$derived}-#{$color}-focus-#{$p}00,
      .highlighter#{$derived}-#{$color}-focus-#{$p}00 {
        &:focus {
          background: linear-gradient(
            transparent 66.66%,
            var(--color-#{$color}-#{$p}00) 33.33%
          ) !important;
        }
      }
      .is-highlighter#{$derived}-#{$color}-focus-#{$p}50,
      .highlighter#{$derived}-#{$color}-focus-#{$p}50 {
        &:focus {
          background: linear-gradient(
            transparent 66.66%,
            var(--color-#{$color}-#{$p}50) 33.33%
          ) !important;
        }
      }
      .is-highlighter#{$derived}-#{$color}-active-#{$p}00,
      .highlighter#{$derived}-#{$color}-active-#{$p}00 {
        &:active {
          background: linear-gradient(
            transparent 66.66%,
            var(--color-#{$color}-#{$p}00) 33.33%
          ) !important;
        }
      }
      .is-highlighter#{$derived}-#{$color}-active-#{$p}50,
      .highlighter#{$derived}-#{$color}-active-#{$p}50 {
        &:active {
          background: linear-gradient(
            transparent 66.66%,
            var(--color-#{$color}-#{$p}50) 33.33%
          ) !important;
        }
      }
      .is-highlighter#{$derived}-#{$color}-disabled-#{$p}00,
      .highlighter#{$derived}-#{$color}-disabled-#{$p}00 {
        &[disabled],
        fieldset[disabled] {
          background: linear-gradient(
            transparent 66.66%,
            var(--color-#{$color}-#{$p}00) 33.33%
          ) !important;
        }
      }
      .is-highlighter#{$derived}-#{$color}-disabled-#{$p}50,
      .highlighter#{$derived}-#{$color}-disabled-#{$p}50 {
        &[disabled],
        fieldset[disabled] {
          background: linear-gradient(
            transparent 66.66%,
            var(--color-#{$color}-#{$p}50) 33.33%
          ) !important;
        }
      }
      //#endregion highlighter
    }
  }
  
}

@include colorUtilities();
@include mixins.setColorScheme("light") {
  @include colorUtilities("light");
}
@include mixins.setColorScheme("dark") {
  @include colorUtilities("dark");
}
