/**
 * utilities/color.scss
 * @author kaminorse
 */

@use "../variables/index.scss" as variables;

@each $color in variables.$colors {
  @for $p from 1 through 9 {
    .forecolor-#{$color}-#{$p}00 {
      color: var(--color-#{$color}-#{$p}00) !important;
    }
    .backcolor-#{$color}-#{$p}00 {
      background-color: var(--color-#{$color}-#{$p}00) !important;
    }
    .highlighter-#{$color}-#{$p}00 {
      background: linear-gradient(transparent 66.66%, var(--color-#{$color}-#{$p}00) 33.33%);
    }
    .forecolor-#{$color}-#{$p}50 {
      color: var(--color-#{$color}-#{$p}50) !important;
    }
    .backcolor-#{$color}-#{$p}50 {
      background-color: var(--color-#{$color}-#{$p}50) !important;
    }
    .highlighter-#{$color}-#{$p}50 {
      background: linear-gradient(transparent 66.66%, var(--color-#{$color}-#{$p}50) 33.33%);
    }
  }
}
