/**
 * background/background-gingham.scss
 * @author kaminorse
 */

@use "../variables/index.scss" as variables;

.gingham {
  background-size: auto auto;
  @each $color in variables.$colors {
    &.is-#{$color} {
      background-color: var(--color-#{$color}-back);
      background-image: repeating-linear-gradient(
          0deg,
          transparent,
          transparent 0.75rem,
          hsla(var(--color-#{$color}-700-hsl), 0.5) 0.75rem,
          hsla(var(--color-#{$color}-700-hsl), 0.5) 1.5rem
        ),
        repeating-linear-gradient(
          90deg,
          transparent,
          transparent 0.75rem,
          hsla(var(--color-#{$color}-700-hsl), 0.5) 0.75rem,
          hsla(var(--color-#{$color}-700-hsl), 0.5) 1.5rem
        );
    }
    @for $p from 1 through 8 {
      &.is-#{$color}-#{$p}00 {
        background-color: var(--color-#{$color}-#{$p + 1}50);
        background-image: repeating-linear-gradient(
            0deg,
            transparent,
            transparent 0.75rem,
            hsla(var(--color-#{$color}-#{$p}00-hsl), 0.5) 0.75rem,
            hsla(var(--color-#{$color}-#{$p}00-hsl), 0.5) 1.5rem
          ),
          repeating-linear-gradient(
            90deg,
            transparent,
            transparent 0.75rem,
            hsla(var(--color-#{$color}-#{$p}00-hsl), 0.5) 0.75rem,
            hsla(var(--color-#{$color}-#{$p}00-hsl), 0.5) 1.5rem
          );
      }
    }
    @for $p from 1 through 7 {
      &.is-#{$color}-#{$p}50 {
        background-color: var(--color-#{$color}-#{$p + 2}00);
        background-image: repeating-linear-gradient(
            0deg,
            transparent,
            transparent 0.75rem,
            hsla(var(--color-#{$color}-#{$p}50-hsl), 0.5) 0.75rem,
            hsla(var(--color-#{$color}-#{$p}50-hsl), 0.5) 1.5rem
          ),
          repeating-linear-gradient(
            90deg,
            transparent,
            transparent 0.75rem,
            hsla(var(--color-#{$color}-#{$p}50-hsl), 0.5) 0.75rem,
            hsla(var(--color-#{$color}-#{$p}50-hsl), 0.5) 1.5rem
          );
      }
    }
  }
}
