/**
 * components/badge.scss
 * @author kaminorse
 */

@use "../variables/index.scss" as variables;

.badge {
  align-items: center;
  border: 0.1rem solid transparent;
  background-color: var(--color-gray-700);
  border-radius: 0.25rem;
  color: var(--color-black);
  display: inline-flex;
  font-size: var(--font-size-small);
  justify-content: center;
  padding: 0.1rem 0.5rem;
  white-space: nowrap;
  &.is-small {
    border: 0.05rem solid transparent;
    padding: 0.05rem 0.25rem;
  }

  @each $color in variables.$colors {
    &.is-#{$color} {
      background-color: var(--color-#{$color}-600);
      border-color: var(--color-#{$color}-600);
      color: var(--color-#{$color}-200);
    }
  }
}
