/**
 * components/badge.scss
 * @author kaminorse
 */

@use "../variables/index.scss" as variables;

.badge {
  align-items: center;
  border: 0.1rem solid transparent;
  background-color: var(--color-default-back);
  border-color: var(--color-default-border);
  border-radius: 0.5rem;
  color: var(--color-default-fore);
  display: inline-flex;
  font-size: var(--font-size-small);
  justify-content: center;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;

  &.is-small {
    border-width: 0.05rem;
    padding: 0.125rem 0.25rem;
  }

  @each $color in variables.$colors {
    &.is-#{$color} {
      background-color: var(--color-#{$color}-back);
      border-color: var(--color-#{$color}-border);
      color: var(--color-#{$color}-fore);
    }
  }
}
