/**
 * components/button.scss
 * @author kaminorse
 */

@use "../variables/index.scss" as variables;

.button {
  background-color: var(--color-default-back);
  border-color: var(--color-default-border);
  border-radius: 0.5rem;
  border-style: solid;
  box-sizing: border-box;
  color: var(--color-default-fore);
  cursor: pointer;
  display: inline-block;
  height: auto;
  min-height: 2.5em;
  min-width: 5em;
  text-align: center;
  text-transform: none;
  vertical-align: top;
  word-spacing: 0px;
  &:hover,
  &.is-hovered {
    background-color: var(--color-default-back-hovered);
    border-color: var(--color-default-border-hovered);
  }
  &:focus,
  &.is-focused {
    background-color: var(--color-default-back-focused);
    border-color: var(--color-default-border-focused);
  }
  &:active,
  &.is-active {
    background-color: var(--color-default-back-active);
    border-color: var(--color-default-border-active);
  }
  &[disabled],
  fieldset[disabled],
  &.is-disabled {
    background-color: var(--color-default-back-disabled);
    border-color: var(--color-default-border-disabled);
  }

  @each $color in variables.$colors {
    &.is-#{$color} {
      background-color: var(--color-#{$color}-back);
      border-color: var(--color-#{$color}-border);
      color: var(--color-#{$color}-fore);
      &:hover,
      &.is-hovered {
        background-color: var(--color-#{$color}-back-hovered);
        border-color: var(--color-#{$color}-border-hovered);
      }
      &:focus,
      &.is-focused {
        background-color: var(--color-#{$color}-back-focused);
        border-color: var(--color-#{$color}-border-focused);
      }
      &:active,
      &.is-active {
        background-color: var(--color-#{$color}-back-active);
        border-color: var(--color-#{$color}-border-active);
      }
      &[disabled],
      fieldset[disabled],
      &.is-disabled {
        background-color: var(--color-#{$color}-back-disabled);
        border-color: var(--color-#{$color}-border-disabled);
      }
    }
  }
}
