/**
 * components/button.scss
 * @author kaminorse
 */

@use "../variables/index.scss" as variables;

.button {
  background-color: var(--color-default-button-back);
  border-color: var(--color-default-button-border);
  border-radius: 0.5rem;
  border-style: solid;
  box-sizing: border-box;
  color: var(--color-default-fore);
  cursor: pointer;
  display: inline-block;
  height: auto;
  min-height: 2.5em;
  min-width: 5em;
  text-align: center;
  text-transform: none;
  user-select: none;
  vertical-align: top;
  word-spacing: 0px;
  &:hover,
  &.is-hovered,
  &.is-hovered {
    background-color: var(--color-default-hover-button-back);
    border-color: var(--color-default-hover-button-border);
  }
  &:focus,
  &.is-focus,
  &.is-focused {
    background-color: var(--color-default-focus-button-back);
    border-color: var(--color-default-focus-button-border);
  }
  &:active,
  &.is-active {
    background-color: var(--color-default-active-button-back);
    border-color: var(--color-default-active-button-border);
  }
  &[disabled],
  fieldset[disabled],
  &.is-disabled {
    background-color: var(--color-default-disabled-button-back);
    border-color: var(--color-default-disabled-button-border);
  }

  @each $color in variables.$colors {
    &.is-#{$color} {
      background-color: var(--color-#{$color}-button-back);
      border-color: var(--color-#{$color}-button-border);
      color: var(--color-#{$color}-fore);
      &:hover,
      &.is-hover,
      &.is-hovered {
        background-color: var(--color-#{$color}-hover-button-back);
        border-color: var(--color-#{$color}-hover-button-border);
      }
      &:focus,
      &.is-focus,
      &.is-focused {
        background-color: var(--color-#{$color}-focus-button-back);
        border-color: var(--color-#{$color}-focus-button-border);
      }
      &:active,
      &.is-active {
        background-color: var(--color-#{$color}-active-button-back);
        border-color: var(--color-#{$color}-active-button-border);
      }
      &[disabled],
      fieldset[disabled],
      &.is-disabled {
        background-color: var(--color-#{$color}-disabled-button-back);
        border-color: var(--color-#{$color}-disabled-button-border);
      }
    }
  }
}
