/**
 * components/header.scss
 * @author kaminorse
 */

.header {
  display: block;
  width: 100%;
  box-shadow: 0 0 0.5rem var(--color-default-shadow);
  &.is-sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}
