/**
 * components/header.scss
 * @author kaminorse
 */

@use "../variables/index.scss" as variables;

.header {
  display: block;
  width: 100%;
  box-shadow: 0 0 0.5rem var(--color-default-shadow);
  backdrop-filter: blur(0.25rem);
  &.is-sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  @each $color in variables.$colors {
    &.is-#{$color} {
      color: var(--color-#{$color}-fore);
      background-color: oklch(var(--color-#{$color}-back-oklch) / 0.75);
      box-shadow: 0 0 0.5rem var(--color-#{$color}-shadow);
    }
  }
}
