/**
 * components/message.scss
 * @author kaminorse
 */

@use "../variables/index.scss" as variables;

.message {
  display: block;
  background-color: var(--color-default-back);
  border-style: solid;
  border-radius: var(--border-radius-medium);
  border-width: var(--border-width-medium);
  border-color: var(--color-default-border);
  .message-header {
    background-color: var(--color-default-border);
    border-width: var(--border-width-medium);
    border-color: var(--color-default-border);
    padding: 0.5rem;
    display: block;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semibold);
  }
  .message-body {
    padding: 0.5rem;
    display: block;
  }

  @each $color in variables.$colors {
    &.is-#{$color} {
      background-color: var(--color-#{$color}-back);
      border-color: var(--color-#{$color}-border);
      color: var(--color-#{$color}-fore);
      .message-header {
        background-color: var(--color-#{$color}-border);
        border-color: var(--color-#{$color}-border);
        color: var(--color-default-fore);
      }
      .message-body {
        background-color: var(--color-#{$color}-back);
        color: var(--color-#{$color}-fore);
      }
    }
  }
}
