@use "../variables/index.scss" as variables;

.modal {
  align-items: center;
  background-color: hsla(var(--color-default-back-hsl), 0.75);
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  &.is-active {
    display: flex;
  }
  .modal-content {
    max-width: 100%;
    overflow: auto;
    z-index: 101;
  }
}
