/**
 * components/nav.scss
 * @author kaminorse
 */

@use "../mixins/index.scss" as mixins;

.nav {
  min-height: 4rem;
  padding: 0.25rem 0;
  .nav-mobile {
    display: none;
    @include mixins.mobile() {
      display: block;
    }
    @include mixins.tablet() {
      display: block;
    }
    .nav-brand {
      display: flex;
      .nav-brand-left,
      .nav-brand-center,
      .nav-brand-right,
      .left,
      .center,
      .right {
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
        margin: auto;
        position: relative;
      }
      .nav-brand-left,
      .left {
        margin: auto auto auto 0;
        text-align: left;
      }
      .nav-brand-center,
      .center {
        margin: auto;
        text-align: center;
      }
      .nav-brand-right,
      .right {
        margin: auto 0 auto auto;
        text-align: right;
      }
    }
    .nav-menu {
      display: none;
      padding: 0.5rem;
      &.is-active {
        display: block;
      }
      .nav-menu-item {
        color: var(--color-default-fore);
        width: 100%;
        display: block;
        cursor: pointer;
        line-height: 1.5;
        margin: 0.25em 0;
        max-width: 100%;
        padding: 0.5rem;
        position: relative;
        text-decoration: none;
        &:hover {
          color: var(--color-default-fore-hover);
        }
        &:active {
          color: var(--color-default-fore-active);
        }
      }
    }
  }
  .nav-desktop {
    display: none;
    @include mixins.desktop() {
      display: flex;
    }
    @include mixins.widescreen() {
      display: flex;
    }
    @include mixins.fullhd() {
      display: flex;
    }
    .nav-brand {
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      max-width: 100%;
      margin: auto;
      position: relative;
      .nav-brand-left,
      .nav-brand-center,
      .nav-brand-right,
      .left,
      .center,
      .right {
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
        margin: auto;
        position: relative;
      }
      .nav-brand-left,
      .left {
        margin: auto auto auto 0;
        text-align: left;
        flex-basis: 30%;
        max-width: 30%;
        width: 30%;
      }
      .nav-brand-right,
      .right {
        margin: auto 0 auto auto;
        text-align: right;
      }
    }
    .nav-menu {
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      max-width: 100%;
      margin: auto;
      position: relative;
      .nav-menu-item {
        cursor: pointer;
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        line-height: 1.5;
        margin: 0.25em;
        max-width: 100%;
        padding: 0.5rem;
        position: relative;
        text-decoration: none;
        color: var(--color-default-fore);
        &:hover {
          color: var(--color-default-fore-hover);
        }
        &:active {
          color: var(--color-default-fore-active);
        }
      }
    }
  }
}
