
@use "../variables/index.scss" as variables;

.pre {
  font-family: var(--font-family-monospace);
  background-color: var(--color-default-code-back);
  white-space: pre;
  word-wrap: normal;
  @each $color in variables.$colors {
    &.is-#{$color} {
      background-color: var(--color-#{$color}-code-back);
      color: var(--color-#{$color}-fore);
    }
  }
}