/**
 * components/tile.scss
 * @author kaminorse
 */

@use "../mixins/index.scss" as mixins;

.tile {
  position: relative;
  min-height: 25rem;
  width: 100%;
  .tile-header {
    position: absolute;
    display: block;
    top: 25%;
    left: 0;
    min-height: 12.5rem;
    width: 50%;
    z-index: 2;
    opacity: 90%;
    @include mixins.mobile() {
      width: 100%;
      top: 0;
    }
    @include mixins.tablet() {
      width: 100%;
      top: 0;
    }
    .tile-title {
      text-align: left;
      vertical-align: middle;
      color: var(--color-white);
      font-size: var(--font-size-medium);
      font-weight: var(--font-weight-semibold);
      text-decoration: none !important;
      position: absolute;
      top: 35%;
      left: 0;
      margin: 1rem;
    }
  }
  .tile-image {
    z-index: 1;
    inset: 0;
    display: block;
    margin: auto;
  }
}
