/**
 * cssvariables/animation.scss
 * @author kaminorse
 */

:root {
  --animation-speed-heavy: 4s;
  --animation-speed-slower: 3s;
  --animation-speed-slow: 2s;
  --animation-speed-normal: 1s;
  --animation-speed-fast: 750ms;
  --animation-speed-faster: 500ms;
  --animation-speed-flash: 250ms;
}