/**
 * cssvariables/border.scss
 * @author kaminorse
 */

:root {
  --border-width-xthin: 0.05rem;
  --border-width-thin: 0.1rem;
  --border-width-medium: 0.125rem;
  --border-width-thick: 0.25rem;
  --border-width-xthick: 0.5rem;
  --border-radius-small: 0.2rem;
  --border-radius-medium: 0.25rem;
  --border-radius-large: 0.5rem;
  --border-radius-circle: 50%;
  --border-radius-pill: 50rem;
}