/**
 * cssvariables/border.scss
 * @author kaminorse
 */

:root {
  --border-width-xthin: 0.05rem;
  --border-width-thin: 0.1rem;
  --border-width-medium: 0.125rem;
  --border-width-thick: 0.25rem;
  --border-width-xthick: 0.5rem;
  --border-radius-bit-rounded: 0.5rem;
  --border-radius-rounded: 1rem;
  --border-radius-quite-rounded: 2rem;
  --border-radius-circle: 50%;
}