/**
 * cssvariables/color.scss
 * @author kaminorse
 */
@use "sass:map";
@use "sass:string";
@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

:root {
  $white-oklch: #{variables.$color-lightness-white} #{variables.$color-chroma-gray} #{variables.$color-hue-gray};
  --color-white-oklch: #{$white-oklch};
  --color-white: oklch(#{$white-oklch});

  $black-oklch: #{variables.$color-lightness-black} #{variables.$color-chroma-gray} #{variables.$color-hue-gray};
  --color-black-oklch: #{$black-oklch};
  --color-black: oklch(#{$black-oklch});

  @each $colorProperties in variables.$colorsWithProperties {
    $name: map.get($colorProperties, "name");
    $hue: map.get($colorProperties, "hue");
    $chroma: map.get($colorProperties, "chroma");
    $p: "000" !default;
    @for $i from 1 through 19  {
      $p: ($i * 5) + "0";
      @if (string.length($p) == 2) {
        $p: "0" + $p;
      }
      $lightness: variables.$color-lightness-500 !default;
      @if ($i < 10) {
        $lightness-offset: (10 - $i) * variables.$color-lightness-offset;
        $lightness: variables.$color-lightness-500 - $lightness-offset;
      } @else if ($i > 10) {
        $lightness-offset: ($i - 10) * variables.$color-lightness-offset;
        $lightness: variables.$color-lightness-500 + $lightness-offset;
      } @else if ($i == 10) {
        $lightness: variables.$color-lightness-500;
      }
      
      $oklch: #{$lightness} #{$chroma} #{$hue};

      --color-#{$name}-#{$p}-oklch: #{$oklch};
      --color-#{$name}-#{$p}: oklch(#{$oklch});
    }
  }

  color-scheme: light;
}

@mixin colorLight() {
  --color-default-fore: var(--color-black);
  --color-default-fore-oklch: var(--color-black-oklch);
  --color-default-back: var(--color-white);
  --color-default-back-oklch: var(--color-white-oklch);
  --color-default-border: var(--color-gray-600);
  --color-default-placeholder: var(--color-gray-650);
  --color-default-shadow: var(--color-gray-850);
  --color-default-button-back: var(--color-gray-600);
  --color-default-button-border: var(--color-gray-600);
  --color-default-code-back: var(--color-gray-800);
  --color-default-disabled-fore: var(--color-black);
  --color-default-disabled-back: var(--color-gray-700);
  --color-default-disabled-border: var(--color-gray-600);
  --color-default-disabled-shadow: var(--color-gray-850);
  --color-default-disabled-button-back: var(--color-gray-700);
  --color-default-disabled-button-border: var(--color-gray-700);
  --color-default-hover-fore: var(--color-black);
  --color-default-hover-back: var(--color-gray-800);
  --color-default-hover-border: var(--color-gray-600);
  --color-default-hover-shadow: var(--color-gray-850);
  --color-default-hover-button-back: var(--color-gray-650);
  --color-default-hover-button-border: var(--color-gray-650);
  --color-default-focus-fore: var(--color-black);
  --color-default-focus-back: var(--color-white);
  --color-default-focus-border: var(--color-gray-600);
  --color-default-focus-shadow: var(--color-gray-850);
  --color-default-focus-button-back: var(--color-gray-600);
  --color-default-focus-button-border: var(--color-gray-650);
  --color-default-active-fore: var(--color-black);
  --color-default-active-back: var(--color-gray-700);
  --color-default-active-border: var(--color-gray-550);
  --color-default-active-shadow: var(--color-gray-850);
  --color-default-active-button-back: var(--color-gray-550);
  --color-default-active-button-border: var(--color-gray-550);
  --color-default-visited-fore: var(--color-violet-200);
  --color-default-visited-back: var(--color-gray-700);
  --color-default-visited-border: var(--color-gray-600);
  --color-default-visited-shadow: var(--color-gray-850);
  --color-default-visited-button-back: var(--color-gray-600);
  --color-default-visited-button-border: var(--color-gray-600);

  @each $color in variables.$colors {
    --color-#{$color}-fore: var(--color-#{$color}-100);
    --color-#{$color}-back: var(--color-#{$color}-850);
    --color-#{$color}-border: var(--color-#{$color}-600);
    --color-#{$color}-placeholder: var(--color-#{$color}-650);
    --color-#{$color}-shadow: var(--color-#{$color}-850);
    --color-#{$color}-button-back: var(--color-#{$color}-600);
    --color-#{$color}-button-border: var(--color-#{$color}-600);
    --color-#{$color}-code-back: var(--color-#{$color}-800);
    --color-#{$color}-disabled-fore: var(--color-#{$color}-850);
    --color-#{$color}-disabled-back: var(--color-#{$color}-700);
    --color-#{$color}-disabled-border: var(--color-#{$color}-600);
    --color-#{$color}-disabled-shadow: var(--color-#{$color}-850);
    --color-#{$color}-disabled-button-back: var(--color-#{$color}-700);
    --color-#{$color}-disabled-button-border: var(--color-#{$color}-700);
    --color-#{$color}-hover-fore: var(--color-#{$color}-100);
    --color-#{$color}-hover-back: var(--color-#{$color}-800);
    --color-#{$color}-hover-border: var(--color-#{$color}-600);
    --color-#{$color}-hover-shadow: var(--color-#{$color}-850);
    --color-#{$color}-hover-button-back: var(--color-#{$color}-650);
    --color-#{$color}-hover-button-border: var(--color-#{$color}-650);
    --color-#{$color}-focus-fore: var(--color-#{$color}-100);
    --color-#{$color}-focus-back: var(--color-#{$color}-850);
    --color-#{$color}-focus-border: var(--color-#{$color}-650);
    --color-#{$color}-focus-shadow: var(--color-#{$color}-850);
    --color-#{$color}-focus-button-back: var(--color-#{$color}-600);
    --color-#{$color}-focus-button-border: var(--color-#{$color}-650);
    --color-#{$color}-active-fore: var(--color-#{$color}-100);
    --color-#{$color}-active-back: var(--color-#{$color}-700);
    --color-#{$color}-active-border: var(--color-#{$color}-550);
    --color-#{$color}-active-shadow: var(--color-#{$color}-850);
    --color-#{$color}-active-button-back: var(--color-#{$color}-550);
    --color-#{$color}-active-button-border: var(--color-#{$color}-550);
    --color-#{$color}-visited-fore: var(--color-#{$color}-100);
    --color-#{$color}-visited-back: var(--color-#{$color}-850);
    --color-#{$color}-visited-border: var(--color-#{$color}-600);
    --color-#{$color}-visited-shadow: var(--color-#{$color}-850);
    --color-#{$color}-visited-button-back: var(--color-#{$color}-600);
    --color-#{$color}-visited-button-border: var(--color-#{$color}-600);
  }
  
  color-scheme: light;
}

@mixin colorDark() {
  --color-default-fore: var(--color-white);
  --color-default-fore-oklch: var(--color-white-oklch);
  --color-default-back: var(--color-black);
  --color-default-back-oklch: var(--color-black-oklch);
  --color-default-border: var(--color-gray-500);
  --color-default-placeholder: var(--color-gray-450);
  --color-default-shadow: var(--color-gray-350);
  --color-default-button-back: var(--color-gray-450);
  --color-default-button-border: var(--color-gray-450);
  --color-default-code-back: var(--color-gray-100);
  --color-default-disabled-fore: var(--color-gray-850);
  --color-default-disabled-back: var(--color-gray-100);
  --color-default-disabled-border: var(--color-gray-700);
  --color-default-disabled-shadow: var(--color-gray-350);
  --color-default-disabled-button-back: var(--color-gray-550);
  --color-default-disabled-button-border: var(--color-gray-550);
  --color-default-hover-fore: var(--color-white);
  --color-default-hover-back: var(--color-gray-200);
  --color-default-hover-border: var(--color-gray-600);
  --color-default-hover-shadow: var(--color-gray-350);
  --color-default-hover-button-back: var(--color-gray-500);
  --color-default-hover-button-border: var(--color-gray-500);
  --color-default-focus-fore: var(--color-white);
  --color-default-focus-back: var(--color-black);
  --color-default-focus-border: var(--color-gray-600);
  --color-default-focus-shadow: var(--color-gray-350);
  --color-default-focus-button-back: var(--color-gray-450);
  --color-default-focus-button-border: var(--color-gray-500);
  --color-default-active-fore: var(--color-white);
  --color-default-active-back: var(--color-gray-300);
  --color-default-active-border: var(--color-gray-400);
  --color-default-active-shadow: var(--color-gray-350);
  --color-default-active-button-back: var(--color-gray-400);
  --color-default-active-button-border: var(--color-gray-400);
  --color-default-visited-fore: var(--color-violet-700);
  --color-default-visited-back: var(--color-violet-300);
  --color-default-visited-border: var(--color-violet-600);
  --color-default-visited-shadow: var(--color-violet-350);
  --color-default-visited-button-back: var(--color-gray-450);
  --color-default-visited-button-border: var(--color-gray-450);

  @each $color in variables.$colors {
    --color-#{$color}-fore: var(--color-#{$color}-900);
    --color-#{$color}-back: var(--color-#{$color}-150);
    --color-#{$color}-border: var(--color-#{$color}-500);
    --color-#{$color}-placeholder: var(--color-#{$color}-450);
    --color-#{$color}-shadow: var(--color-#{$color}-350);
    --color-#{$color}-button-back: var(--color-#{$color}-450);
    --color-#{$color}-button-border: var(--color-#{$color}-450);
    --color-#{$color}-code-back: var(--color-#{$color}-100);
    --color-#{$color}-disabled-fore: var(--color-#{$color}-900);
    --color-#{$color}-disabled-back: var(--color-#{$color}-100);
    --color-#{$color}-disabled-border: var(--color-#{$color}-700);
    --color-#{$color}-disabled-shadow: var(--color-#{$color}-350);
    --color-#{$color}-disabled-button-back: var(--color-#{$color}-550);
    --color-#{$color}-disabled-button-border: var(--color-#{$color}-550);
    --color-#{$color}-hover-fore: var(--color-#{$color}-900);
    --color-#{$color}-hover-back: var(--color-#{$color}-200);
    --color-#{$color}-hover-border: var(--color-#{$color}-600);
    --color-#{$color}-hover-shadow: var(--color-#{$color}-350);
    --color-#{$color}-hover-button-back: var(--color-#{$color}-500);
    --color-#{$color}-hover-button-border: var(--color-#{$color}-500);
    --color-#{$color}-focus-fore: var(--color-#{$color}-900);
    --color-#{$color}-focus-back: var(--color-#{$color}-150);
    --color-#{$color}-focus-border: var(--color-#{$color}-650);
    --color-#{$color}-focus-shadow: var(--color-#{$color}-850);
    --color-#{$color}-focus-button-back: var(--color-#{$color}-450);
    --color-#{$color}-focus-button-border: var(--color-#{$color}-500);
    --color-#{$color}-active-fore: var(--color-#{$color}-900);
    --color-#{$color}-active-back: var(--color-#{$color}-300);
    --color-#{$color}-active-border: var(--color-#{$color}-400);
    --color-#{$color}-active-shadow: var(--color-#{$color}-350);
    --color-#{$color}-active-button-back: var(--color-#{$color}-400);
    --color-#{$color}-active-button-border: var(--color-#{$color}-400);
    --color-#{$color}-visited-fore: var(--color-#{$color}-900);
    --color-#{$color}-visited-back: var(--color-#{$color}-300);
    --color-#{$color}-visited-border: var(--color-#{$color}-600);
    --color-#{$color}-visited-shadow: var(--color-#{$color}-350);
    --color-#{$color}-visited-button-back: var(--color-#{$color}-350);
    --color-#{$color}-visited-button-border: var(--color-#{$color}-350);
  }
  
  color-scheme: dark;
}

:root {
  @include colorLight();
}

@include mixins.setCssVariableColorScheme("light") {
  @include colorLight();
}

@include mixins.setCssVariableColorScheme("dark") {
  @include colorDark();
}
